<!doctype html>
<html>
    <head>
	<title> Work I.O. </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
	<div class="container">
	    <h1>Home</h1>
	    <h2>Welcome Back <%= username %></h2>
	    <h3>Account Info:</h2>
	    <p>Email: <%= email %></p>
	    <p>Height: <%= height %></p>
	    <p>Weight: <%= weight %></p>
	    <p>Birthday: <%= dob %></p>
	    <h3>Your Plans:</h3>
	    <ul>
	    <% plans.forEach((plan) => { %>
		<li><a href=<%= "https://workio.us/plans/" + plan._id %> >
		    Workout: <%= plan.name %> | Privacy Level: <%= plan.privacy %>
		</a></li>
	    <% }) %>
	    </ul>
		<a href="https://workio.us/plans?action=create">
            Create New Plan</a>
        </body>
	</div>
    </body>
</html>
