<!doctype html>
<html>
    <head>
	<title> Work I.O. </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
	<div class="container">
	    <h1>Home</h1>
	    <p>User: <%= username %></p>
	    <p>Email: <%= email %></p>
	    <ul>
	    <% plans.forEach((plan) => { %>
		<li><a href=<%= "https://workio.us/plan/" + plan.planId %> >
		    Workout: <%= plan.name %> | Privacy Level: <%= plan.privacy %>
		</a></li>
	    <% }) %>
	    </ul>
	</div>
    </body>
</html>
