<!doctype html>
<html>
    <head>
	<title> Work I.O. </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
	<div class="container">
	    <h2>User: <%= username %></h2>
	    <h3><%= username %>'s Plans:</h3>
	    <ul>
        <form action=<%= "https://workioucla.com/subscribe/" + username %> method="post">
            <input type="submit" value="Subscribe" />
        </form>
        <form action=<%= "https://workioucla.com/unsubscribe/" + username %> method="post" <% if (not_subscribed) { %> hidden=true <% } %>>
            <input type="submit" value="Unsubscribe" />
        </form>
	    <% plans.forEach((plan) => { %>
		<li><a href=<%= "https://workioucla.com/plans/" + plan._id %> >
		    Workout: <%= plan.name %> | Privacy Level: <%= plan.privacy %>
		</a></li>
	    <% }) %>
        </body>
	</div>
    </body>
</html>
